@model TableroListaViewModel

<section class="seccion-tableros @Model.ClaseCss mb-4">
        <h3>@Model.Titulo</h3>
        <div class="row">
            @if (Model.Tableros != null && Model.Tableros.Any())
            {
                @foreach (var tablero in Model.Tableros)
                {
                    <div class="col-md-4 mb-3"> <!-- Cada tarjeta ocupa 4 columnas en pantallas medianas o mayores -->
                        <section class="card h-100">
                            <h5 class="card-header">#@tablero.Id_tablero - @tablero.Nombre</h5>
                            <section class="card-body d-flex flex-column">
                                <p class="card-text overflow-auto" style="max-height: 150px;">
                                    @tablero.Descripcion
                                </p>
                                <a asp-controller="Tablero" asp-action="Kanban" asp-route-id_tablero="@tablero.Id_tablero"
                                    class="text-white text-decoration-none">
                                    <button type="button" class="btn btn-secondary me-1">
                                        Ver
                                    </button>
                                </a>
                            </section>
                        </section>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p>No hay tableros.</p>
                </div>
            }
        </div>
    </section>