@{
    ViewData["Title"] = "Crear una Tarea";
}

@model CrearTareaViewModel

<section class="container">
    <h3>Crear una Tarea</h3>
    <form asp-controller="Tarea" asp-action="Create" method="post" enctype="multipart/form-data">
        <section class="d-flex flex-column">
            <!-- Campo para el nombre -->
            <section class="d-flex flex-column justify-content-start mb-2 col-6">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" class="form-control" asp-for="NuevaTarea.Nombre" />
                <span class="text-danger" asp-validation-for="NuevaTarea.Nombre"></span>
            </section>

            <!-- Campo para la descripción -->
            <section class="d-flex flex-column justify-content-start mb-2 col-6">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" class="form-control" asp-for="NuevaTarea.Descripcion"></textarea>
                <span class="text-danger" asp-validation-for="NuevaTarea.Descripcion"></span>
            </section>

            <!-- Selector para el color -->
            <section class="d-flex flex-column justify-content-start mb-2 col-6">
                <label for="Id_color">Color</label>
                <select id="Id_color" class="form-select" asp-for="NuevaTarea.Id_color">
                    @foreach (var color in Model.Colores)
                    {
                        <option value="@color.Id_color">@color.Nombre</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="NuevaTarea.Id_color"></span>
            </section>

            <!-- Selector para el tablero -->
            <section class="d-flex flex-column justify-content-start mb-2 col-6">
                <label for="Id_tablero">Tablero</label>
                <select id="Id_tablero" class="form-select" asp-for="NuevaTarea.Id_tablero">
                    <option value="">Seleccione un Tablero</option>
                    @foreach (var tablero in Model.Tableros)
                    {
                        <option value="@tablero.Id_tablero">@tablero.Nombre</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="NuevaTarea.Id_tablero"></span>
            </section>

            <!-- Selector para el usuario -->
            <section class="d-flex flex-column justify-content-start mb-2 col-6">
                <label for="Id_usuario_asignado">Usuario</label>
                <select id="Id_usuario_asignado" class="form-select" asp-for="NuevaTarea.Id_usuario_asignado">
                    <option value="">Seleccione un Usuario</option>
                    @foreach (var usuario in Model.Usuarios)
                    {
                        <option value="@usuario.Id_usuario">@usuario.Nombre</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="NuevaTarea.Id_usuario_asignado"></span>
            </section>

            <!-- Botones -->
            <section class="d-flex justify-content-start mb-2">
                <a asp-controller="Tarea" asp-action="Index" class="text-white text-decoration-none">
                    <button type="button" class="btn btn-secondary me-1">
                        Volver
                    </button>
                </a>
                <button type="submit" class="btn btn-primary ms-1">CREAR</button>
            </section>
        </section>
    </form>
</section>
