@{
    ViewData["Title"] = "Todos los Usuarios";
}
@model List<UsuarioViewModel>;

<section class="container">
    <h2  class="text-center mb-4">Listado de Usuarios</h2>

    <section class="row bg-dark text-white p-2 rounded">
        <section class="col-2 fw-bold">ID</section>
        <section class="col-3 fw-bold">Nombre</section>
        <section class="col-3 fw-bold">Rol</section>
        <section class="col-4 fw-bold text-center">Acciones</section>
    </section>

    @if (Model != null && Model.Any())
    {
        @foreach (var usuario in Model)
        {
            <section class="row bg-light p-2 border-bottom d-flex align-items-center">
                <section class="col-2">@usuario.Id_usuario</section>
                <section class="col-3">@usuario.Nombre</section>
                <section class="col-3">@usuario.Rol</section>
                <section class="col-4 d-flex justify-content-evenly justify-content-between">
                    <form asp-action="EditarPerfil" method="get" class="d-flex justify-content-center col-6">
                        <input type="hidden" name="idUsuario" value="@usuario.Id_usuario" />
                        <button type="submit" class="btn btn-primary btn-sm ms-2 d-flex align-items-center px-md-4 px-lg-1">
                            <i class="bi bi-pencil"></i>
                            <span class="d-none d-lg-inline">Actualizar</span>
                        </button>
                    </form>
                    <form asp-action="Delete" method="get" class="d-flex justify-content-center col-6">
                        <input type="hidden" name="idUsuario" value="@usuario.Id_usuario" />
                        <button type="submit" class="btn btn-danger btn-sm px-md-3 px-lg-1">
                            <i class="bi bi-trash"></i>
                            <span class="d-none d-lg-inline">Eliminar</span>
                        </button>
                    </form>
                </section>
            </section>
        }
    }
    else
    {
        <section class="row bg-light p-2 border-bottom">
            <section class="col-12"><em>No hay usuarios disponibles</em></section>
        </section>
    }

    <!-- Botón de regreso -->
    <a href="@Url.Action("Index", "Usuario")" class="btn btn-secondary mt-4">Volver</a>
</section>