@{
    ViewData["Title"] = "Todos los Usuarios";
}
@model List<DataUsuario>;

<section class="container">
    <h3>Listado de Usuarios</h3>

    <div class="row bg-dark text-white p-2 rounded">
        <div class="col-2 fw-bold">ID</div>
        <div class="col-3 fw-bold">Nombre</div>
        <div class="col-3 fw-bold">Rol</div>
        <div class="col-4 fw-bold text-center">Acciones</div>
    </div>

    @if (Model != null && Model.Any())
    {
        @foreach (var usuario in Model)
        {
            <div class="row bg-light p-2 border-bottom d-flex align-items-center">
                <div class="col-2">@usuario.Id</div>
                <div class="col-3">@usuario.Nombre</div>
                <div class="col-3">@usuario.Rol</div>
                <div class="col-4 d-flex justify-content-evenly justify-content-between">
                    <form asp-action="EditarPerfil" method="get" class="d-flex justify-content-center col-6">
                        <input type="hidden" name="idUsuario" value="@usuario.Id" />
                        <button type="submit" class="btn btn-primary btn-sm ms-2 d-flex align-items-center px-md-4 px-lg-1">
                            <i class="bi bi-pencil"></i>
                            <span class="d-none d-lg-inline">Actualizar</span>
                        </button>
                    </form>
                    <form asp-action="Delete" method="get" class="d-flex justify-content-center col-6">
                        <input type="hidden" name="idUsuario" value="@usuario.Id" />
                        <button type="submit" class="btn btn-danger btn-sm px-md-3 px-lg-1">
                            <i class="bi bi-trash"></i>
                            <span class="d-none d-lg-inline">Eliminar</span>
                        </button>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row bg-light p-2 border-bottom">
            <div class="col-12"><em>No hay usuarios disponibles</em></div>
        </div>
    }

    <!-- Botón de regreso -->
    <a href="@Url.Action("Index", "Usuario")" class="btn btn-secondary mt-4">Volver</a>
</section>